/*
monsite.css
-----------
Par Drucilla DEROCHE
*/
*{
  margin: 0;
  padding: 0;
}
/*Corps de la page*/
body
{
  background-color: rgba(0,0,255,0.3);
  color: white;
  opacity: 1;
  font-family:"Trebuchet MS","Times New Roman",serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*En-tête de la page*/
#banniere_img{
  display: none;
}
#menu-ico{
  margin: 5px;
}
.menu-content {
  display : none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  z-index: 1;
  border: 5px solid #444;
  border-radius: 4px 0 4px 4px;
  height: 350px;
}
.menu-content a {
  display: block;
  padding : 5px 0;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1024px){
  .nav:hover .menu-content{
    display: block;
  }
}
.menu-content > a:hover
{
  color: blue;
  border-bottom: 3px solid blue;
}
/*Contenu de la page d'accueil*/
section
{
  display: flex;
  flex-direction: column;
  padding: 30px;
}
article,aside
{
  font-size: 15px;
}
p:first-child, .web
{
  font-weight: bold;
}
aside
{
  background-color: #706b64;
  border-radius: 10px;
  text-align: center;
  margin: 30px auto;
  padding: 10px;
}
aside h1
{
  font-size: 25px;
}
.formation
{
  font-style: italic;
}

/*Contenu des autres pages*/
.bloc_page{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.titre-pro, .nom-projet {
  text-decoration: underline;
  font-size: 15px;
  margin-left: 30%;
}
.nom-projet{
  margin-bottom: 10px;
}
.date-stage {
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  margin-left: 30%;
  margin-bottom: 5px;
}
.titre-pro, .date-stage {
  display: inline;
}

iframe{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/*Site adapté aux terminaux grand écran*/
@media only screen and (min-width: 1024px){
  #banniere_img{
    display: block;
    min-width: 100%;
    height: 400px;
    background: url("../images/informatique.jpg");
    position: relative;
    top: 0;
    left: 0;
  }
  #banniere_desc{
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    font-size: 30px;
    font-style: italic;
    color: black;
  }
  #menu-ico {
    display: none;
  }
  .nav{
    margin-bottom: 50px;
  }
  .social{
    display: flex;
  }
  .social a{
    margin-right: 20px;
  }
  .menu-content
  {
    list-style-type: none;
    background-color: black;
    min-width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
  }
  .menu-content a
  {
    font-size: 30px;
  }
  aside h1
  {
    font-size: 30px;
  }
  article, aside
  {
    font-size: 20px;
  }
  .titre-pro, .nom-projet {
    font-size: 30px;
  }
  .date-stage {
    font-size: 20px;
  }
  iframe{
    width: 600px;
    height: 500px;
  }
}
